@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --main-color: #1d1d1d;
    --text-color: #e7e7e7;
    --card-color: #313131;

    //Blue Scale
    --top-grad: #357494;
    --hl-text-blue: #4192da;
    --btn-color-blue: #74a3cd;
    --main-blue-secondary: #32405a;
    --scroll-color-light: #c8e1e4;
    --scroll-light-hover: #b2c8ca;

    //Orange Scale
    --bot-grad: #94693e;
    --main-orange-secondary: #d17d33;
    --hl-text-orange: #da8641;
    --scroll-color-dark: #af7046;
    --scroll-dark-hover: #996440;
  }

*{
  margin: 0;
  padding: 0;

  font-family: "Overpass", sans-serif;
  font-weight: 225;
}
.hl-text-blue{
  color: var(--hl-text-blue);
  font-weight: bolder;
}
.hl-text-orange{
  color: var(--hl-text-blue);
  font-weight: bolder;
}
.link{
  cursor: pointer;
}
.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background: var(--main-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-color-dark);
    border-radius: 10px;
    border: 2px solid transparent;

    &:hover{
      background-color: var(--scroll-dark-hover);
    }
}